<p id="notice"><%= notice %></p>

<h1>Listing Look Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @look_types.each do |look_type| %>
      <tr>
        <td><%= look_type.name %></td>
        <td><%= link_to 'Show', look_type %></td>
        <td><%= link_to 'Edit', edit_look_type_path(look_type) %></td>
        <td><%= link_to 'Destroy', look_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Look type', new_look_type_path %>
